:root {
  --white: #fff;
  --grey-100: #f0f1f4;
  --grey-200: #d3d6de;
  --grey-300: #b6bac8;
  --grey-400: #7c839c;
  --grey-500: #636983;
  --grey-600: #4d5266;
  --grey-700: #373a49;
  --grey-800: #21232c;
  --grey-900: #0b0c0f;

  --border-1: 1px solid hsla(228, 91%, 22%, 0.1);
  --shadow-1: 0px 2px 4px 0px #0000000a, 0px -1px 0px 0px #0000000a inset;

  --radii-md: 8px;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: "Inter" sans-serif;
}

body {
  background-color: var(--gre);
  color: var(--grey-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  position: relative;
}

::placeholder {
  color: var(--grey-300);
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  color: var(--grey-900);
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
  color: var(--grey-900);
  margin-top: 2rem;
  margin-bottom: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  line-height: 1.6;
}

li {
  margin-bottom: 0.85rem;
  line-height: 1.6;
}

input {
  background-color: var(--white);
  padding: 0.75rem;
  width: 100%;
  border-radius: var(--radii-md);
  font-weight: 400;
  border: var(--border-1);
  box-shadow: var(--shadow-1);
  font-size: 1rem;
  font-family: inherit;
}

input:focus {
  border: 1px solid #f59e0b;
  outline: 2px solid #fef3c7;
}

button {
  cursor: pointer;
}

.layout {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid var(--grey-200);
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: 500;
  background-color: var(--grey-100);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 1rem;
}

.note {
  font-size: 14px;
  color: var(--grey-600);
  margin: 0;
}
